modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0", "resend:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 19446
externalPort = 3002

[[ports]]
localPort = 19447
externalPort = 4200

[[ports]]
localPort = 19608
externalPort = 3000

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_cmVuZXdlZC1saW9uZXNzLTI0LmNsZXJrLmFjY291bnRzLmRldiQ"
REVENUECAT_PROJECT_ID = "projafe0b89d"
REVENUECAT_TEST_STORE_APP_ID = "appebd397347e"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app1de8a3917f"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app6ef863a650"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_SBsUveLtZHOnhupWppsOLcwvNUy"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_BEirusqbRZCeREjnTGcCptsYeio"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_NwHnbSyoMlRaHXOypLAhkYpIRMN"
PRO_OVERRIDE_EMAILS = "nedflanders9393@gmail.com"
ASC_API_KEY_ID = "88TCF86H75"
ASC_ISSUER_ID = "d7f20069-cfe7-4bfe-a6ad-29313f891092"

[nix]
channel = "stable-25_05"
packages = ["eas-cli"]
